/*This is my 318 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Lauryn Kim and this is the beginning of my CONTACT PAGE CSS for 201 Digital Typography March 2021 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(images/website%20background%20leaf.png) 
	center center fixed no-repeat; 
	background-size: cover;
    font-family: "new hero"

}

.center {
    width: 80%;/*added this to make div responsive */ 
    max-width: 800px
	padding: 2%;
    margin: 100px auto;
    border-radius: 30px 150px; 
 	background: rgba(256, 256, 256,.60); /*this uses opacity of 75% for the background color*/
	text-align: center;
	
}

   
#logo {
    margin-bottom: 50px;
	border: 40px; 
	text-align: center;
}

h1 {
	font-family: hypatia-sans-pro, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 3.75em


}

h2 {
    font-family: hypatia-sans-pro, sans-serif;
    font-weight: 400;
    font-style: bold;
	font-size: 2.3em;
    line-height: 2;
    color: #CCCFBB;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

p {
	font-family:"new hero";
	font-size: 1.2em;
    line-height: 1.6;
    color: #ffcc99;
}
    
    

nav{
    font-family: "new hero";
    font-size: 1.2em;
    width:400px;
    margin:0 auto;
    border: double #ffcc99 ;
    border-width: 3px 0;
    text-align: center;
    margin-top: 2em;
    }

nav li{
    display: inline-block
    }

nav a{
    display: inline-block;
    padding: 10px;
    }
#circle {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%
}

a{
   color: #444;
    text-decoration: none;
    font-weight: bold;
    }
a:hover{
    color: black;
    background:#EAECE4;
}


